#app {
    height: 100%;
  }
  html,
  body {
    position: relative;
    height: 100%;
  }

  body {
  font-family: "Ysabeau Office", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
  
    font-size: 14px;
color: #333333;
background-color: #FDFBF7;
    margin: 0;
    padding: 0;
  }
  
  .swiper {
    width: 100%;
    height: 100%;

  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #444;
  
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {

  width: 100vw; 
   height: 90vh; 
    object-fit: cover;
  display: block;
  }
  